:root {
    /* Kind-of variables
    Allow us to simply change the whole color-schema */
    --main-text-color: red;
    --main-background-color: gold;
    --hover-color: lightblue;
    --hover-text-color: violet;
    --border-all: 10px solid violet;
    --footer-background-color: green;
    --header-background-color: lightgreen;
    --header-text-color: blue;
    --menu-text-color: blue;
    --menu-background-color: beige;
    --font: Comic Sans, Comic Sans MS, cursive;
    --button-color: pink;
}