/* style.css
@author: Matthias Busenhart
*/

#main {
	/* The Main-Section where all stuff goes */
	margin-top: 50px;
	margin-bottom: 50px;
    right: 0;
    left: 150px;
	display: inline-block;
	position: absolute;
	z-index: 1;
    padding: 20px;    
}

form input {
	position: fixed;
	left: 400px;
	background-color: beige;
}

form button {
	padding: 5px;
}

#main button {
    display: block;
	color: #000;
	text-decoration: none;
    background-color: beige;
}

#main button:hover {
    background-color: #555;
	color: white;
}

#main h1 {
	/* Der Haupttitel der Seite ist riesig. */
	font-size: xx-large;
}

#main #item_Container {
	/* Eine Voci-Karte */
	position: absolute;
	left: 50%;
	opacity: 1;
	border: 1px solid black;
	font-size: 120%;
	width: 420px;
	height: 240px;
	overflow: hidden;
	white-space: nowrap;
	padding-top: 20px;
}

#main #item {
	margin: 20px;
	position: absolute;
}

#main h1, h2 {
	/* Alle Title sind in der Mitte der Seite */
	text-align: center;
}

#menu img {
	/* Image container of main section
	Aim: image centered */
	width: 100px;
	height: auto;
	display: block;
	margin: 10px auto 10px auto;
}

#menu {
	/* The Menu */
	position: fixed;
	top: 0;
	bottom: 0;
	width: 150px;
	float: left;
	left: 0;
	margin-right: 10px;
	background-color: beige;
	border-right: 1px solid black;
	padding-top: 75px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li a {
	display: block;
	color: #000;
	padding: 8px 0 8px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #555;
	color: white;
}

#header #logBut {
	background-color: beige;
	color: #000;
	position: absolute;
	right: 50px;
	top: 10px;
	text-decoration: none;
	padding: 10px;
	width: 100px;
}

#header #logBut:hover {
	background-color: #555;
	color: white;
}

#header #time {
	position: absolute;
	left: 10px;
	top: 50%;
        padding: 10px;
}



#header {
	/* The Header
	
	First: position on top of page (always)
	and text centered */
	position: fixed;
	text-align: center;
	
	/* Boundary
	Goes over the whole page (horizontal) */
	left: 0;
	right: 0;
	top: 0;
	
	/* Colors */
	
	/* Black line underneath */
	border-bottom: 1px solid black;
	
	/* Font-Size */
	font-size: large;
	
	background-color: white;
	padding: 10px;
	
	z-index: 3;
}

#footer {
	/* The Footer
	
	First: position on bottom of page (always)
	and text centered */
	position: fixed;
	text-align: center;
	
	/* Boundary
	Goes over the whole page (horizontal) */
	left: 0;
	right: 0;
	bottom: 0;
	
	/* Colors */
	background: gray;
	color: black;

	/* Black line on top */
	border-top: 1px solid black;
	
	/* Font-Size */
	font-size: large;
	
	padding: 10px;
	z-index: 2;
}

