#main {
    /* The Main-Section where all stuff goes */
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 150px;
    right: 0;
    left: 150px;
    display: inline-block;
    position: absolute;
    z-index: 2;
    padding: 20px;  
    padding-bottom: 50px;
    color: var(--main-text-color);
    font-family: var(--font);
	border-right: var(--border-all);
}

#back {
    z-index: 1;
    background-color: var(--main-background-color);
    height: 100%;
    width: 100%;
    position: fixed;
}

a[name] {
    /* Alle Anker ausblenden */
    visibility: hidden;
}

form input, textarea {
    left: 400px;
    background-color: var(--button-color);
}

form button {
    padding: 5px;
}

#main a {
    background-color: var(--button-color);
    color: var(--main-text-color);
    position: relative;
    text-decoration: none;
    padding: 10px;
    width: 100px;
    border: var(--border-all);
}

#main a:hover {
    background-color: var(--hover-color);
    color: var(--hover-text-color);
    border: 1px solid var(--hover-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
}

#main button, input, textarea {
    display: block;
    color: var(--main-text-color);
    text-decoration: none;
    background-color: var(--button-color);
    margin: 10px;
    padding: 10px;
    border: var(--border-all);
}

#main button {
    position: absolute;
}

#main button:hover, input:hover{
    background-color: var(--hover-color);
    color: var(--hover-text-color);
    border: 1px solid var(--hover-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
}

#main h1 {
    /* Der Haupttitel der Seite ist riesig. */
    font-size: xx-large;
}

#main select {
	background-color: var(--button-color);
	color: var(--main-text-color);
	border: var(--border-all);
	height: 50px;
	width: 100px;
}


#main select:hover {
	background-color: var(--hover-color);
	color: var(--hover-text-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);

}

#sol {
    background-color: var(--button-color);
    width: 400px;
    margin: 40px;
    position: fixed;
    top: 50%;
    border: var(--border-all);
}
#sol:hover {
    background-color: var(--hover-color);
    color: var(--main-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
}

#main #item_Container {
    /* Eine Voci-Karte */
    position: absolute;
    left: 50%;
    opacity: 1;
    border: var(--border-all);
    font-size: 120%;
    width: 420px;
    height: 240px;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 20px;
}

#main #item {
    margin: 20px;
    position: absolute;
}

#main h1, h2 {
    /* Alle Title sind in der Mitte der Seite */
    text-align: center;
}

#menu img {
    /* Image container of main section
    Aim: image centered */
    width: 100px;
    height: auto;
    display: block;
    margin: 10px auto 10px auto;
}

#menu {
    /* The Menu */
    position: fixed;
    top: 0;
    bottom: 0;
    width: 150px;
    float: left;
    left: 0;
    margin-right: 10px;
    background-color: var(--menu-background-color);
    border-right: var(--border-all);
    padding-top: 75px;
    color: var(--menu-text-color);
    font-family: var(--font);
    z-index: 3;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    color: var(--main-text-color);
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: var(--hover-color);
    color: var(--hover-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);

}

#header a {
    border: var(--border-all);
    background-color: var(--button-color);
    color: var(--header-text-color);
    position: absolute;
    top: 10px;
    text-decoration: none;
    padding: 10px;
    width: 100px;
}

#header #logBut {
    right: 50px;
}
#header #homeBut {
    right: 180px;
}

#header a:hover {
    /* Buttons in the header */
    background-color: var(--hover-color);
    color: var(--hover-text-color);
    border: 1px solid var(--hover-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
}

#header {
    position: fixed;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: var(--border-all);
    font-size: large;
    background-color: var(--header-background-color);
    padding: 10px;
    z-index: 5;
    color: var(--header-text-color);
    font-family: var(--font);
}

#footer {
    position: fixed;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--footer-background-color);
    color: var(--main-text-color);
    border-top: var(--border-all);
    font-size: large;
    padding: 10px;
    z-index: 4;
    font-family: var(--font);
}